# Pathe api key
pathe-api-key=

# Facebook messenger api access token
fb-messenger-token=

# Mailgun configuration
mailgun-secret=
mailgun-domain=
mailgun-from-name=
mailgun-from-mail=

# AWS SNS SMS configuration
aws-sns-accesskey=
aws-sns-secretkey=

#The location where to store data
storage-folder=.

#The logging token for rollbar
rollbar-token=

#administrator data for error notifieng
admin-name=
admin-mail=
admin-phone=